// Colors
$primary-color: #3bb9ff;
$secondary-color: #b0ecff;

// Text Colors
$primary-text-color: #ffffff;
$secondary-text-color: rgba(255, 255, 255, 0.5);

// Font Families
$primary-font-family: "Montserrat", sans-serif;
